{template 'common/header'}

{if IMS_VERSION<1}
<link href="{MODULE_URL}/template/static/css/wq1.0.css" rel="stylesheet">
{/if}
<style>
    #adapt {
        width: 200px;
          height: 120;
    }
    .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td{
        white-space: normal;
        word-wrap: break-word;
        word-break: normal;
    }
    .we7-margin-right{margin-right: 10px;}
    .we7-table>tbody>tr>td:last-child, .wechat-communication>tbody>tr>td:last-child{padding-right: 10px;}
    .site-list .site-item-img img {
        width: 94px;
        height: auto;
    }
    .hdzt{
        margin-bottom: -8px;
        margin-left: 40px;
    }
</style>
<script src="{MODULE_URL}/template/static/js/mzp-packed-me.js"></script>

<div class="we7-page-title">活动管理</div>
<ul class="we7-page-tab">
    <li{if $_GPC['do'] == 'manage' || $_GPC['do'] == '' } class="active"{/if}><a href="{php echo $this->createWebUrl('manage');}">活动管理</a></li>
    <li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li>
    <li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li>
    <li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li>
    <li>
        <label class="hdzt">
            {if $this->module['config']['giftref']}
            <div class="switch ng-scope switchOn" onclick="drop_confirm('您确定要关闭实时开关？', '{php echo $this->createWebUrl('giftref',array('giftref'=>0))}');"></div>
            {else}
            <div class="switch ng-scope" onclick="drop_confirm('您确定要开启实时开关!', '{php echo $this->createWebUrl('giftref',array('giftref'=>30))}');"></div>
            {/if}
        </label>
    </li>
</ul>
<div class="panel panel-default">
    <div class="panel-heading">筛选</div>
    <div class="panel-body">
        <form action="" method="get" class="form-horizontal form-search">
            <input type="hidden" name="c" value="site">
            <input type="hidden" name="a" value="entry">
            <input type="hidden" name="m" value="tyzm_diamondvote">
            <input type="hidden" name="do" value="manage">
            <div class="form-group">
                <label class="col-sm-1 control-label">活动名称</label>
                <div class="col-md-5">
                    <input type="text" name="keyword" value="{$keyword}" class="form-control" placeholder="请输入活动名称"/>
                    <span class="help-block">输入活动名称进行搜索</span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-1 control-label">排序字段</label>
                <div class="col-md-1">
                    <select class="we7-select ng-pristine ng-valid ng-not-empty ng-touched" name="order_field" style="">
                        <option value="" >活动ID</option>
                        <option value="1" {if $_GPC['order_field'] == 1}selected{/if}>参与人数</option>
                        <option value="2" {if $_GPC['order_field'] == 2}selected{/if}>投票数量</option>
                        <option value="3" {if $_GPC['order_field'] == 3}selected{/if}>礼物数量</option>
                        <option value="4" {if $_GPC['order_field'] == 4}selected{/if}>浏 览 量</option>
                        <option value="4" {if $_GPC['order_field'] == 5}selected{/if}>分 享 量</option>
                    </select>
                </div>
                <label class="col-sm-1 control-label">排序方式</label>
                <div class="col-md-1">
                    <select class="we7-select ng-pristine ng-valid ng-not-empty ng-touched" name="order_flag" style="">
                        <option value="" >倒序</option>
                        <option value="1" {if $_GPC['order_flag'] == 1}selected{/if}>正序</option>
                    </select>
                </div>
                <label class="col-sm-1 control-label">活动状态</label>
                <div class="col-md-1">
                    <select class="we7-select ng-pristine ng-valid ng-not-empty ng-touched" name="status" style="">
                        <option value="" >请选择&nbsp;</option>
                        <option value="1" {if $_GPC['status'] == 1}selected{/if}>进行中</option>
                        <option value="3" {if $_GPC['status'] == 3}selected{/if}>未开始</option>
                        <option value="4" {if $_GPC['status'] == 4}selected{/if}>已结束</option>
                        <option value="0" {if $_GPC['status'] != "" && $_GPC['status']== 0}selected{/if}>已关闭</option>
                    </select>
                </div>
                <label class="col-sm-1 control-label">活动负责人</label>
                <div class="col-md-1">
                    <select class="we7-select ng-pristine ng-valid ng-not-empty ng-touched" name="master" style="">
                        <option value="">请选择&nbsp;</option>
                        {loop $master $row}
                        <option value="{$row['master']}" {if $row['master'] == $_GPC['master']}selected{/if}>{$row['master']}</option>
                        {/loop}
                    </select>
                </div>
                <label class="col-sm-1 control-label">今日开场</label>
                <div class="col-md-1">
                    <select class="we7-select ng-pristine ng-valid ng-not-empty ng-touched" name="votestart" style="">
                        <option value="">请选择&nbsp;</option>
                        <option value="1" {if $_GPC['votestart'] == 1}selected{/if}>是</option>
                        <option value="2" {if $_GPC['votestart'] == 2}selected{/if}>否</option>
                    </select>
                </div>
                <label class="col-sm-1 control-label">今日结束</label>
                <div class="col-md-1">
                    <select class="we7-select ng-pristine ng-valid ng-not-empty ng-touched" name="voteend" style="">
                        <option value="">请选择&nbsp;</option>
                        <option value="1" {if $_GPC['voteend'] == 1}selected{/if}>是</option>
                        <option value="2" {if $_GPC['voteend'] == 2}selected{/if}>否</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-1 control-label">开场时间</label>
                <div class="col-sm-2">{php echo tpl_form_field_daterange('starttime', array('start' => $_GPC['starttime']['start'],'end' => $_GPC['starttime']['end']), false)}</div>
                <label class="col-sm-1 control-label">结束时间</label>
                <div class="col-sm-2">{php echo tpl_form_field_daterange('endtime', array('start' => $_GPC['endtime']['start'],'end' => $_GPC['endtime']['end']), false)}</div>
            </div>
            <div class="form-group">
                <label class="col-sm-1 control-label">添加时间</label>
                <div class="col-sm-2">{php echo tpl_form_field_daterange('createtime', array('start' => $_GPC['createtime']['start'],'end' => $_GPC['createtime']['end']), false)}</div>
                <div class="pull-right col-sm-9">
                    <button class="btn btn-default"><i class="fa fa-search"></i> 搜索</button>
                    <a class="btn btn-primary" href="{php echo $this->createWebUrl('downloadvote',array('id'=>$_GPC['id'],'rid'=>$_GPC['rid']));}" style="display:none"><span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span> 导出</a>
                    <a href="{php echo url('platform/reply/post',array('m'=>'tyzm_diamondvote'));}" class="btn btn-primary  we7-margin-left"><i class="fa fa-plus"></i></span>添加活动</a>
                </div>
            </div>
        </form>
    </div>
</div>
{loop $list $row}
<table class="table we7-table table-hover site-list">

    <tr>
        <th colspan="2" class="text-left">活动ID：<label class="label label-primary">{$row['rid']}</label>  活动名称:<label class="label label-primary">{$row['title']}</label> 负责人：<label class="label label-danger">{if $row['master']}{$row['master']}{else}未设置{/if}</label>
            <label class="hdzt">
                {if $row['status']==0}
                <div class="switch ng-scope" onclick="drop_confirm('您确定要开始活动吗!', '{php echo $this->createWebUrl('otherset',array('ty'=>'setstatus','rid'=>$row['rid'],'status'=>1))}');"></div>
                {else}
                <div class="switch ng-scope switchOn" onclick="drop_confirm('您确定要暂停活动吗？', '{php echo $this->createWebUrl('otherset',array('ty'=>'setstatus','rid'=>$row['rid'],'status'=>0))}');"></div>
                {/if}
            </label>
            {if $row['status']==1}
            <span class="label label-success">开始</span>
            {elseif $row['status']==3}
            <span class="label label-warning">未开始</span>
            {elseif $row['status']==4}
            <span class="label label-default">已结束</span>
            {else}
            <span class="label label-danger">已关闭</span>
            {/if}
        </th>
        <!--<th class="text-left" width="120px">入口</th>-->
        <th class="text-left" width="180px">数据</th>
        <th class="text-left" width="140px">管理</th>
        <th class="text-left" width="120px">基础操作</th>
    </tr>

    <tr>
        <td class="text-left vertical-middle" style="width: 200px">
            <!--<div class="site-item-img">-->
            <img src="{media $row['thumb']}" width="120" height="120"/>
            <!--</div>-->
        </td>
        <td class="text-left">
            <!--                <div class="we7-margin-bottom">
                                <p class="color-gray">名称</p>
                                <span class="color-dark">{$row['title']}</span>
                            </div>-->
            <div class="">
                <p class="color-gray">时间</p>
                <a href="javascript:;" class="color-dark" >开始：{php echo date('Y-m-d H:i:s',$row['starttime'])}
                    <br><br><br><br><br>
                    <br>
                    结束：{php echo date('Y-m-d H:i:s',$row['endtime'])}</a>
            </div>

            <!--<div class="">
                <p class="color-gray">活动状态</p>
                <label>
                    {if $row['status']==0}
                    <div class="switch ng-scope" onclick="drop_confirm('您确定要开始活动吗!', '{php echo $this->createWebUrl('otherset',array('ty'=>'setstatus','rid'=>$row['rid'],'status'=>1))}');"></div>
                    {else}
                    <div class="switch ng-scope switchOn" onclick="drop_confirm('您确定要暂停活动吗？', '{php echo $this->createWebUrl('otherset',array('ty'=>'setstatus','rid'=>$row['rid'],'status'=>0))}');"></div>
                    {/if}
                </label>
                {if $row['status']==1}
                <span class="label label-success">开始</span>
                {elseif $row['status']==3}
                <span class="label label-warning">未开始</span>
                {elseif $row['status']==4}
                <span class="label label-default">已结束</span>
                {else}
                <span class="label label-danger">已关闭</span>
                {/if}
            </div>-->
        </td>
        <!--            <td class="text-left">

                        <div class="">
                           <p class="color-gray">活动状态</p>
                            <label>
                               {if $row['status']==0}
                               <div class="switch ng-scope" onclick="drop_confirm('您确定要开始活动吗!', '{php echo $this->createWebUrl('otherset',array('ty'=>'setstatus','rid'=>$row['rid'],'status'=>1))}');"></div>
                                {else}
                                <div class="switch ng-scope switchOn" onclick="drop_confirm('您确定要暂停活动吗？', '{php echo $this->createWebUrl('otherset',array('ty'=>'setstatus','rid'=>$row['rid'],'status'=>0))}');"></div>
                                {/if}

                            </label>
                            {if $row['status']==1}
                                  <span class="label label-success">开始</span>
                                {elseif $row['status']==3}
                                  <span class="label label-warning">未开始</span>
                                {elseif $row['status']==4}
                                  <span class="label label-default">已结束</span>
                                {else}
                                  <span class="label label-danger">已关闭</span>
                                {/if}
                        </div>
                    </td>-->
        <td class="text-left">
            <div class="we7-margin-vertical">
                <div class="">
                    <p class="color-gray">参与人数：<span class="label label-primary">{$row['jointotal']}</span></p>
                    <p class="color-gray">投票数量：<span class="label label-info">{$row['votetotal']}</span></p>
                    <p class="color-gray">礼物数量：<span class="label label-success">{$row['giftcount']}元</span></p>
                    <p class="color-gray">浏  览  量：<span class="label label-danger">{$row['pvtotal']}</span></p>
                    <p class="color-gray">分  享  量：<span class="label label-warning">{$row['sharetotal']}</span></p>
                </div>
            </div>

        </td>

        <td class="text-left">

            <div class="we7-margin-vertical">
                <!--                    <div class="we7-margin-bottom" style="position: relative;">
                                        <p class="color-gray">活动链接地址</p>
                                        <a href="javascript:;" class="js-clip color-default" data-url="{php echo $_W['siteroot'].'app/' }{php echo $this->createMobileUrl('index',array('rid'=>$row['rid']))}"  >复制活动链接</a>

                                    </div>-->

                <a href="{php echo $this->createWebUrl('votelist',array('rid'=>$row['rid']))}" class="color-default we7-margin-right" rel="tooltip" title="选手管理"><i class="fa fa-cog"></i> 选手管理</a>
                <br/>
                <a href="{php echo $this->createWebUrl('giftlist',array('rid'=>$row['rid']))}" class="color-default we7-margin-right" rel="tooltip" title="礼物订单"><i class="fa fa-archive"></i> 礼物订单</a>
                <br/>
                {if $row['config']['isredpack']==1}
                <br/>
                <a href="{php echo $this->createWebUrl('lottery',array('rid'=>$row['rid']))}" class="color-default we7-margin-right" rel="tooltip" title="红包管理"><i class="fa fa-bitcoin"></i> 红包管理</a>
                {/if}
                {if $_W['account']['level']==4 || $_W['account']['level']==3}
                <a href="{php echo $this->createWebUrl('domainlist',array('rid'=>$row['rid']))}" class="color-default we7-margin-right" rel="tooltip" title="域名管理"><i class="fa fa-chain"></i> 域名管理</a>
                {/if}
            </div>

        </td>
        <td class="text-left">
            <div class="we7-margin-vertical">
                <a class="color-default we7-margin-right" rel="tooltip" href="{php echo url('platform/reply/post',array('m'=>'tyzm_diamondvote','rid'=>$row['rid']));}" title="编辑"><i class="fa fa-edit"></i> 编辑</a>
                <br/>
                <a class="color-default we7-margin-right" rel="tooltip" href="#" onclick="drop_confirm('您确定要删除吗?删除不可恢复。', '{php echo url('platform/reply/delete',array('m'=>'tyzm_diamondvote','rid'=>$row['rid']));}');" title="删除"><i class="fa fa-times"></i> 删除</a>
                <br/>
                <a class="color-default we7-margin-right" rel="tooltip" href="{php echo url('platform/reply/post',array('m'=>'tyzm_diamondvote','copyid'=>$row['rid']));}" title="复制活动"><i class="fa fa-copy"></i> 复制活动</a>
                <br/>
                <a href="javascript:;" class="js-clip color-default" data-url="{php echo $_W['siteroot'].'app/' }{php echo $this->createMobileUrl('index',array('rid'=>$row['rid']))}"  >复制活动链接</a>
            </div>
        </td>
    </tr>

</table>
{/loop}
<div class="pull-right">
    {$pager}
</div>
</div>

<script>
    $(function(){

        $(".check_all").click(function(){
            var checked = $(this).get(0).checked;
            $("input[type=checkbox]").attr("checked", checked);
        });
        $("input[name=deleteall]").click(function(){

            var check = $("input:checked");
            if (check.length < 1){
                err('请选择要删除的记录!');
                return false;
            }
            if (confirm("确认要删除选择的记录?")){
                var id = new Array();
                check.each(function(i){
                    id[i] = $(this).val();
                });
                $.post('{php echo create_url('site/module', array('do' => 'deleteAll', 'name' => 'tyzm_diamondvote'))}', {idArr:id}, function(data){
                    if (data.errno == 0)
                    {
                        location.reload();
                    } else {
                        alert(data.error);
                    }


                }, 'json');
            }

        });




    });
</script>
<script type="text/javascript">
    function drop_confirm(msg, url){
        if (confirm(msg)){
            window.location = url;
        }
    }
    $('.js-clip').each(function(){
        util.clip(this, $(this).attr('data-url'));
    });

</script>

{if $this->module['config']['giftref']}
<script>
    var modalobj = util.dialog("", ["{php echo $this->createWebUrl('floatgift')}"], "", {containerName: "link-container"});
    modalobj.find('.modal-dialog').css({'cssText':'min-width:1000px !important;width:1000;margin:0;'});
    modalobj.find('.modal-body').css({'height':'60px','overflow-y':'auto','padding':'0'});
    modalobj.attr('tabindex','');
    modalobj.modal({backdrop: !1});
    modalobj.modal('show');
    $("#link-container").hover(function(){
        modalobj.find('.modal-body').css({'height':'400px','overflow-y':'auto','padding':'0'});
        $("#link-container").css({'height':'400px','overflow-y':'auto','padding':'0'})
    },function(){
        modalobj.find('.modal-body').css({'height':'60px','overflow-y':'auto','padding':'0'});
        $("#link-container").css({'height':'80px','overflow-y':'auto','padding':'0'})
    });
</script>
<style>
    #link-container{height:80px;width:1000px;top: -24px;left:14.3%;position: absolute;}
    <style>
     {/if}

    {template 'common/footer'}