{template 'common/header'}

<ul class="nav nav-tabs">
    <li><a href="{php echo $this->createWebUrl('robots')}">机器人列表</a></li>
    {if isset($_GPC['id'])}
        <li class="active"><a href="{php echo $this->createWebUrl('robots',array('op'=>'edit','id'=>$_GPC['id']))}" ><i class="fa fa-edit"></i>编辑机器人</a></li>
    {else}
        <li class="active"><a href="{php echo $this->createWebUrl('robots',array('op'=>'edit'))}" ><i class="fa fa-plus"></i>添加机器人</a></li>
    {/if}
</ul>
<div class="panel panel-default" >
    <div class="panel-heading">{if isset($_GPC['id'])}编辑机器人{else}添加机器人{/if}</div>
    <div class="panel-body">
        <form action="" method="post" class="form-horizontal" id="savebatch">
            {if isset($_GPC['id'])}
                <input type="hidden" name="id" value="{$_GPC['id']}">
            {/if}
            <div class="form-group">
                <label class="col-md-2 control-label">机器人名称：</label>
                <div class="col-md-4"><input type="text" name="rname" value="{$data['rname']}" class="form-control"   placeholder="请输入机器人名称"/></div>
                <div class="col-md-4"><div class="help-block">机器人名称用来区别不同机器人</div></div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">投票活动ID：</label>
                <div class="col-md-4"><input type="text" name="voterid" value="{$data['voterid']}" class="form-control"   placeholder="投票活动ID"/></div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">参与用户编号ID：</label>
                <div class="col-md-4"><input type="text" name="voteuser" value="{$data['voteuser']}" class="form-control"   placeholder="参与用户编号ID"/></div>
                <div class="col-md-4"><div class="help-block">参与用户编号ID之间以  ,  间隔，非用户ID</div></div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">每票所需最低秒数：</label>
                <div class="col-md-4"><input type="number" name="randomlow" value="{$data['randomlow']}" class="form-control"   placeholder="每票所需最低秒数"/></div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">每票所需最高秒数：</label>
                <div class="col-md-4"><input type="number" name="randomhigh" value="{$data['randomhigh']}" class="form-control"   placeholder="每票所需最高秒数"/></div>
                <div class="col-md-4"><div class="help-block">每票所需最高秒数最好不超过1800秒</div></div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">机器人开始时间：</label>
                <div class="col-sm-4 sendtime">{php echo tpl_form_field_date('starttime',$data['starttime'],true)}</div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">机器人结束时间：</label>
                <div class="col-sm-4 sendtime">{php echo tpl_form_field_date('endtime',$data['endtime'],true)}</div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button type="submit" class="btn btn-primary" data-toggle="modal" >确定</button>
                    <button type="button" class="btn btn-default" onclick="history.back()">返回</button>
                </div>
            </div>
        </form>
    </div>
</div>

{if $this->module['config']['giftref']}
<script>
    var modalobj = util.dialog("", ["{php echo $this->createWebUrl('floatgift')}"], "", {containerName: "link-container"});
    modalobj.find('.modal-dialog').css({'cssText':'min-width:1000px !important;width:1000;margin:0;'});
    modalobj.find('.modal-body').css({'height':'60px','overflow-y':'auto','padding':'0'});
    modalobj.attr('tabindex','');
    modalobj.modal({backdrop: !1});
    modalobj.modal('show');
    $("#link-container").hover(function(){
        modalobj.find('.modal-body').css({'height':'400px','overflow-y':'auto','padding':'0'});
        $("#link-container").css({'height':'400px','overflow-y':'auto','padding':'0'})
    },function(){
        modalobj.find('.modal-body').css({'height':'60px','overflow-y':'auto','padding':'0'});
        $("#link-container").css({'height':'80px','overflow-y':'auto','padding':'0'})
    });
</script>
<style>
    #link-container{height:80px;width:1000px;top: -24px;left:14.3%;position: absolute;}
    <style>
     {/if}

{template 'common/footer'}