{template 'header'}
{if $reply['isindexslide']==1}
{template 'sider'}
{/if}
<style type="text/css">
	.slide{    border-bottom: 1px solid #000;}
</style>
{if $reply['topimg']}<div class="divmain1"><img src="{php echo tomedia($reply['topimg']);}" alt="shareImg"></div>{/if}

<div class="num_box assa">
	<ul class="num_box_ul">
		<li><span class="text"><i class="glyphicon glyphicon-paperclip"></i> 参与选手</span> <span>{$jointotal}</span></li>
		<li><span class="text"> <i class="glyphicon glyphicon-thumbs-up"></i> 累计投票</span> <span>{$votetotal}</span></li>
		<li><span class="text"><i class="glyphicon glyphicon-eye-open"></i> 访问量</span> <span>{$pvtotal}</span></li>
		<div style="clear:both"></div>

	<script type="text/javascript">
	{if $reply['showendtime']}
	var intDiff = parseInt({php echo $reply['showendtime']-time();});//倒计时总秒数量
	function timer(intDiff){
		window.setInterval(function(){
		var day=0,
			hour=0,
			minute=0,
			second=0;//时间默认值		
		if(intDiff > 0){
			day = Math.floor(intDiff / (60 * 60 * 24));
			hour = Math.floor(intDiff / (60 * 60)) - (day * 24);
			minute = Math.floor(intDiff / 60) - (day * 24 * 60) - (hour * 60);
			second = Math.floor(intDiff) - (day * 24 * 60 * 60) - (hour * 60 * 60) - (minute * 60);
		}
		if (minute <= 9) minute = '0' + minute;
		if (second <= 9) second = '0' + second;
		$('#day_show').html(day+"天");
		$('#hour_show').html('<s id="h"></s>'+hour+'时');
		$('#minute_show').html('<s></s>'+minute+'分');
		$('#second_show').html('<s></s>'+second+'秒');
		intDiff--;
		}, 1000);
	}
	$(function(){
		timer(intDiff);
	});
	{/if}
</script>
<nav id="article">
	<div id="faq">
		<ul><li style="width: 100%;">
			<div id="article_pic"><img src="{MODULE_URL}/template/static/images/tubiao_02.png"></div>
			<div id="article_word">投票日期：{if $reply['showtarttime']}{php echo date('m-d H:i',$reply['showtarttime'])}{else}{php echo date('m-d H:i',$reply['votestarttime'])}{/if} 到 <span style="display: inline;">{if $reply['showendtime']}{php echo date('m-d H:i',$reply['showendtime'])}{else}{php echo date('m-d H:i',$reply['voteendtime'])}{/if}</span></div>
		</li></ul>
		{if $reply['showendtime']}
		<dl style="width: 100%;"><a href="javascript:;" onclick="window.location.href=''"><dt><div id="article_pic"><img src="{MODULE_URL}/template/static/images/tubiao_02.png" style="width:20px;height:20px;"></div><div id="article_word" style="padding-left:10px;">活动剩余：
			<span id="djs">
				<strong id="day_show">0天</strong>
				<strong id="hour_show">0时</strong>
				<strong id="minute_show">0分</strong>
				<strong id="second_show" style="display:none">0秒</strong>
			</span>
		</div></dt></a></dl>
		{/if}
	</div>
	<div style="clear:both"></div>
</nav>
<style>
#article{width:100%; height:auto;margin-top:10px;padding-left: 19px;}
#article_1{height:45px; border-bottom:1px #CCCCCC solid; vertical-align:middle; padding-left:10px; line-height:45px}
#article_pic{ margin-top:5px;   float:left;}
#article_pic img{ width:20px; height:20px}
#article_word{height:auto; float:left; text-align:left; padding-left:10px;margin-top: 5px;color:#000}

#sec{width:90%;   color:#fff; margin:0 auto; padding:20px;  font-family: "Microsoft YaHei";  font-size:16px;text-align:center; line-height:30px; padding-left:3%;padding-bottom:0px;}
#sec1{width:100%;  background-color:#7CC7EA; color:#fff; margin:0 auto; padding:20px;  font-family: "Microsoft YaHei";  font-size:16px;text-align:center; line-height:30px; padding-left:3%}
#sec_div{width:100%; height:40px; margin-bottom:20px}
#sec_div2{width:30%;  height:40px; float:left}
.sec_div3{top:10px;left:-10px; width:100%}
#sec_sec{width:auto; float:left;margin-top:5px;}
#sec_form{width:65%;margin-left:4%; height:40px;border:solid 1px #ccc; overflow:hidden; border-radius:10px; float:left;}
.sec_form_butt{width:100%; height:1000px;  background: transparent; border:1px;}
.sec_input{text-align:40px; height:100%; width:100%; border:1px}
#sec_butt{background-color:#feb624; border:1px; height:100%; font-family: "Microsoft YaHei";  font-size:16px; color:#fff; line-height:30px; padding-left:10px; padding-right:10px; border-radius:9px;}
#sec_butt1{background-color:#2dcc70; border:1px; height:100%; font-family: "Microsoft YaHei";  font-size:16px; color:#fff; line-height:30px; padding-left:10px; padding-right:10px; border-radius:9px;}

#zbottom{width:100%;margin:10px;text-align: center;}
#zbottom span{
	background-color: #ffa603;
    border-radius: 5px;
    color: #fff;
    float: left;
    font-size: 15px;
    line-height: 33px;
    margin: 0 1%;
    padding: 0 6px;
    position: relative;
    width: 30%;
}

#setdiv{margin:0 auto;border-radius:10px; border:1px solid #ccc; overflow:hidden; margin-bottom:10px;margin:0 auto;width:80%;margin-top: 10px;}
#setdiv #J_setTabANav { float:left; width:auto; }
#setdiv #J_setTabABox { clear:both;   min-height:200px;float:left; }
#setdiv .tab-menu { margin-right:0px; text-align:center; float:left; width:auto; }
#setdiv .tab-menu span { line-height:30px; text-align:center; float:left;   font-size:15px;  cursor:pointer; margin-bottom:-1px; color:#000; width:100%; background:#fff}
#setdiv #J_setTabANav .hover span { border-bottom:0; background:#2dcc70; color:#fff; z-index:100;   width:100%;  font-weight: normal;}
#setdiv #productsindex1,
#setdiv #featuredProducts { width:100%; }
#setdiv #productsindex1 .pule { overflow:hidden; width:100%; border:0; }


#content_result{ width:100%; height:auto; padding:10px;}
#content_rebu{ width:50%; float:left; }
#content_button{ width:90%;height:50%; text-align:center;border-radius: 9px; background-color:#2dcc70; margin:0 auto;border:1px;border: solid 1px #585656;}
#content_piao{ width:50%; float:left; text-align:center; color:#FF0000; font-size:16px; line-height:30px; }
</style>
</div>

<div class="divmain11 clearfix">
  <input type="text" value="" name="sci" placeholder="请输入编号或姓名" class="inputtxt">
  <div class="divsub" onclick="get_list(1);">搜&nbsp;索</div>
</div>
<div id="sec" style="display:none">
	<div id="sec_div">
		<label for="txt"></label>
		<div id="sec_form">
			<input type="text" name="sci" id="txt" placeholder="输入编号、名称、映客号" value="" class="sec_input" style="padding-left:10%;">
		</div>
		<div id="sec_div2">
			<button id="sec_butt"><div id="sec_sec"><img src="{MODULE_URL}/template/static/images/daohang_02.png" width="20" height="20" onclick="get_list(1);"></div>&nbsp;&nbsp;搜索</button>
		</div>
	</div>
</div>

<div id="zbottom">
	<span onclick="guize()">规则/奖品</span>
	<span onclick="btnclick()"> 比赛排名</span>
	<span onclick="get_ap()">我要报名</span>
</div>
<div style="clear:both;"></div>

<div id="setdiv">
	<dl id="J_setTabANav" class="tabnav" style="width:100%">
		<dd id="new" class="tab-menu {if $_GPC['type'] == 'all' || $_GPC['type'] == ''}hover{/if}" style="width:50%" onclick="change('all')"><span>人气选手</span></dd>
		<dd id="all" class="tab-menu {if $_GPC['type'] == 'new'}hover{/if}" style="width:50%" onclick="change('new')"><span>最新参与</span></dd>
	</dl>
</div>

<section class="content" id="toupiao">
<div id="pageCon" style="padding-bottom: 10px">
<ul class="list_box clearfix" id="list_box" style="position: relative;">
</ul>
<div id="list_more" class="box" style="margin-top: 16px; text-align: center;margin-bottom: 40px;"><span class="am-text-secondary" onclick="get_list(0);">查看更多</span></div>
</div>
</section>

<div style="clear:both;"></div>
<!--div class="page">
          <div class="page1">上一页</div>
              <div class="page3"><a href="main.php?orders=&sci=&page=2">下一页</a></div>
        
</div -->
<div class="copyright"></div>

{template 'nav_footer'}

<script type="text/javascript">

	/*
	$(function(){
		var $getime = $('#article_word >span').html();
		$('#article_word >span').html(dataduce($getime))
	})
	//时间处理	
function dataduce(a){
	var data = new Date(a);
	var mon = data.getMonth()+1;
	var day = data.getDate();
	var h = data.getHours();
	var m = data.getMinutes()-2;
	return `${mon}-${day} ${h}:${m}`;
}	
*/
//排行
function guize(){
	window.location.href = "{php echo $this->createMobileUrl('prize', array('rid' => $rid))}#maodian";
}
//排行
function btnclick(){
	window.location.href = "{php echo $this->createMobileUrl('ranking', array('rid' => $rid))}";
}

function change(type){
	var t = type ? type : 'new';
	window.location.href = "{php echo $this->createMobileUrl('index', array('rid' => $rid))}&type="+t+"#main";
}

var limit = 1;
function get_list(ty){
    
    if(ty==1){
	   var keyword=$("input[name='sci']").val();
	   if(keyword==""){
	      dialog2("请输入编号或姓名");
		  return false;
	   }
	   $("#pageCon .list_box").html('');
	}else{
	   $("#list_more").html('<div class="am-text-secondary"><span class="am-icon-spinner am-icon-spin"></span> 卖命加载中...</div>');
	   var keyword="";
	}
	
	$.ajax({
	    type : "post",
	    url : "{php echo $this->createMobileUrl('Index',array('rid'=>$rid))}",
	    data : {
	    	limit:limit,
			keyword:keyword
	    },
        dataType : "json",		
	    success : function(data) {
	    	if(data.status==200){
						var list = data.content;
						var content = '';
						for(var i=0; i<list.length; i++){
							content += '<li class="picCon"><div>'
							+'<i class="number">编号：'+list[i]['noid']+'</i>'
							+'<a href="'+list[i]['url']+'" class="img"><img src="'+list[i]['img1']+'"></a>'
							+'<div class="clearfix eee"><p>'+list[i]['name']+'</p>'
							/*+'<a href="'+list[i]['url']+'" class="vote">投票</a></div>'*/
							+'</div><div id="content_result"><a href="'+list[i]['url']+'"><div id="content_rebu"><button class="STYLE1" id="content_button" style="background-color:#ccc">投票</button></div></a><div id="content_piao">'+list[i]['votenum']+'票</div><div style="clear:both"></div></div>'
							+'</li>';
							
						}
                        $("#pageCon .list_box").append(content);
						if(list.length==10){
							$("#list_more").html('<span class="am-text-secondary" onclick="get_list(0);">查看更多</span>');
						}else{
							$("#list_more").html('<span></span>');
						}		
	                    limit++;

						

						waterfall();
		    }else if(data.status==-103){
	    		$("#list_more").html('<span>没有更多记录！</span>');
	    	}else if(data.status==301){
	    		$("#list_more").html('<span>没有搜索到内容！</span>');
	    	}else{
			    $("#list_more").html('<span>没有更多记录！</span>');
			}    	
	    },
	    error : function(xhr, type) {

	    }
	});
	    

}
get_list(0);

function waterfall(limit){
$container = $('#list_box');
$container.masonry('reload');
	$container.imagesLoaded(function() {
		$container.masonry({
			itemSelector: '.picCon',
			gutter: 20,
			isAnimated: true,
			});
		});
}

{if  $reply['indexsound']}
			$("body").append('<div class="video_exist play_yinfu" id="audio_btn" style="display: block;"><div id="yinfu" class="rotate"></div><audio preload="auto" autoplay="autoplay" id="media" src="{media $reply['indexsound']}" loop></audio></div>');
			$("#media")[0].play();
			$("#audio_btn").click(function() {
				$(this).hasClass("off") ? ($(this).addClass("play_yinfu").removeClass("off"), $("#yinfu").addClass("rotate"), $("#media")[0].play()) : ($(this).addClass("off").removeClass("play_yinfu"), $("#yinfu").removeClass("rotate"), $("#media")[0].pause())
			})
{/if}
    
</script>
<script src="//cdn.bootcss.com/masonry/2.1.08/jquery.masonry.min.js"></script>
{template 'footer'}