{template 'header'}
{template 'sider'}
{if $reply['status']==0 || $reply['status']==""}
<div class="alert alert-warning" style="text-align:center;position: fixed;top:40%;z-index: 2; width:80%;margin:0 10%;">活动已禁用！</div>
<div class="weui-mask"></div>
{/if}
<style>.tp_img{float:left; width:80px;margin-top:-25px;text-align:center;}.tp_img b{color:#fff;font-size:14px;display: block;margin-top: -10px;}.tp_right{float:left;}.tp_left{float:left;}.tp_width{width:-moz-calc((100% - 80px)/2);width:-webkit-calc((100% - 80px)/2);width:calc((100% - 80px)/2);text-align: center;}.tp_bottom{color:#434243;width:120px;background-color:#fff;padding:5px 10px;border-radius: 3px;margin-top: 13px;display:inline-table;}.tp_bottom b{display: block;width: 80px;float: left;font-size:14px;line-height: 25px;}.tp_bottom img{display: block;width: 20px;float: left;padding:5px 0px;}.huibei{background-color:#000;filter:alpha(opacity=60);-moz-opacity:0.6;opacity:0.6;z-index:1001;}.kezi{position:fixed;width:100%;bottom:50px;height:65px;z-index:1002;max-width: 640px;}</style>

<img src="{$voteuser['img1']}" alt="shareImg" width="0px" height="0px" style="display: block;" />

<div id="focus" class="focus focus2" style="">
	<div class="hd">
		<ul>
			<li class="on"></li>
		</ul>
	</div>
	<div class="bd">
		<ul>
   		</ul>
	</div>
</div>
<style>

{if $reply['diamondmodel']==1 || $reply['isshowgift']>=3}
.divbottommenu .divitem{width:33.333%;}
{/if}
.carousel-control.left,.carousel-control.right{background-image:none;}
#viframe{border:1px #EFEFEF solid}
.view4{margin: 0 auto;    width: 94%;overflow: hidden;}


#jiandiv{width:100px; height:40px;  position:relative;top:-20px;left:40px; line-height:30px; font-size:16px; color:#2dcc70; text-align:center; font-weight:bold; background:#fff}
#jiandiv1{margin:0 auto; width:90%;  font-size:14px;  font-family: "Microsoft YaHei";  line-height:30px; text-align:left}
#jiandiv2{width:100%;  margin-top:20px; border:1px #ccc solid; border-radius:10px; }
.zlb{float:left;width:50%;line-height:30px;border-right:solid 1px #ccc;}
#zlb{border:solid 1px #ccc;border-right:0px;width:80%;margin:10px 10%;}
</style>


<div style="width:80%; margin:0 auto;">
    <div style="width:100%; text-align:left;padding-bottom:20px;">
        <div id="jiandiv2">
            <div id="jiandiv">选手介绍</div>
            <div style="padding:0px 0px 10px 10px;margin-top:-20px;">
                <div style="width:50%;float:left;">名称：{$voteuser['name']}</div>
                <div style="width:40%;text-align:right;float:left;">编号：{$voteuser['noid']}</div>
                <br>自我介绍：
                <h1 class="seller-name" style="font-size:14px;font-weight:450;color:#222222;font-family:-apple-system, BlinkMacSystemFont, Roboto, &quot;background-color:#FFFFFF;">
					{if !empty($voteuser['introduction'])}
						{$voteuser['introduction']}
					{else}
						{$voteuser['name']}
					{/if}
				</h1>
            </div>
        </div>
        <!--主体 -->
        <div style="width:100%;margin-left:0px;text-align:center;" id="zlb">
            <style>.zlb {width: 26.5%;}</style>
            <div class="zlb">当前票数</div>
            <div class="zlb" style="margin-left:-1px;width:39%;">距上一名差</div>
            <div class="zlb" style="margin-left:-1px;width:35%;">票数榜</div>
            <div style="clear:both;"></div>
            <div style="margin-top:-10px;" class="zlb" id="pcount">{$voteuser['votenum']}票</div>
            <div class="zlb" style="margin-left:-1px;width:39%;margin-top:-10px;" id="pcha">{$pcha}票</div>
            <div class="zlb" style="margin-left:-1px;width:35%;margin-top:-10px;" id="pzcount">第{$pzcount['pzcount']}名</div>
            <div style="clear:both;"></div>
        </div>
      	{if !empty($voteuser['img1'])}
      	<div id="vote_cover" style="margin-top:20px;border:solid 1px #ccc;padding: 10px;">
            <img src="{$voteuser['img1']}" style="width:100%;">
        </div>
        {/if}
      {if !empty($voteuser['img2'])}
      	<div id="vote_cover" style="margin-top:20px;border:solid 1px #ccc;padding: 10px;">
            <img src="{$voteuser['img2']}" style="width:100%;">
        </div>
        {/if}
      {if !empty($voteuser['img3'])}
      	<div id="vote_cover" style="margin-top:20px;border:solid 1px #ccc;padding: 10px;">
            <img src="{$voteuser['img3']}" style="width:100%;">
        </div>
        {/if}
      {if !empty($voteuser['img4'])}
      	<div id="vote_cover" style="margin-top:20px;border:solid 1px #ccc;padding: 10px;">
            <img src="{$voteuser['img4']}" style="width:100%;">
        </div>
        {/if}
      {if !empty($voteuser['img5'])}
      	<div id="vote_cover" style="margin-top:20px;border:solid 1px #ccc;padding: 10px;">
            <img src="{$voteuser['img5']}" style="width:100%;">
        </div>
        {/if}
        <div id="content_pic" style="margin-top:20px;border:solid 1px #ccc;padding: 10px;">
            {if $voteuser['details']!=""}
				{$voteuser['details']}
			{else}
				暂未设置详情
			{/if}
        </div>
    </div>
</div>

{if !empty($videourl)}
<div class="view4">
<iframe frameborder="0" id="viframe" width="100%" height="240" src="{$videourl}" allowfullscreen  ></iframe>
</div>
{/if}


<div style="height:80px;"></div>
<div class="kezi huibei"></div><div class="kezi">	<div class="tp_left tp_width">		<div class="tp_bottom" {if !empty($reply['verifycode'])} onclick='showverify();' {else} id="mytoupiao" {/if}>			<img width="20" src="{MODULE_URL}/template/static/images/zuan_01.png"><b>给ta投票</b>		</div>	</div>	{if $reply['diamondmodel']==0}	<a href="{php echo $this->createMobileUrl('gift', array('rid' => $reply['rid'],'id' => $voteuser['id']))}">		<div class="tp_img">			<img width="100%" src="{MODULE_URL}/template/static/images/zuan_03.png"><b>送钻石</b>		</div>	</a>	{else}	<a href="{php echo $this->createMobileUrl('ranking', array('rid' => $reply['rid']))}">		<div class="tp_img">			<img width="100%" src="{MODULE_URL}/template/static/images/zuan_03.png"><b>榜单</b>		</div>	</a>	{/if}	<div class="tp_right tp_width">		<div onclick="get_ap();" class="tp_bottom"><img width="20" src="{MODULE_URL}/template/static/images/zuan_05.png"><b>我要报名</b></div></div><div style="clear:both;">	</div></div>

<!--  礼物end -->

<div class="follow" id="follow" style="display:none">
<div class="weui-mask"></div>
<div id="guanzhubox" >
	<div class="box1" onclick="hidemod('follow');">
	<span class="span1">提示</span> 
	<span class="span2" >关闭</span></div>
	<div class="divtxt">
	<p>长按下方二维码，长按，识别二维码</p>
	<p><img src="{php echo $_W['account']['qrcode'];}" width="80%" ></p>
	{$reply['followguide']}
	{if $_W['account']['subscribeurl']!=''}
	<a href="{php echo $_W['account']['subscribeurl'];}" class="weui_btn weui_btn_primary">点击进入</a>
	{/if}
	</div>
</div>
</div>
<div class="share" id="share" style="display:none">
<img src="{MODULE_URL}/template/static/images/share.png" style="position: absolute;top: 0;right:0;z-index: 2;" onclick="hidemod('share');" width="100%"  />
<div class="weui-mask" onclick="hidemod('share');"></div>
</div>
<div class="succeed" id="succeed" style="display:none"onclick="hidemod('succeed');">
   {if $reply['voteadimg']==""}
      
   {else}
   <div class="voteadd" onclick="location='{$reply['voteadurl']}&sourceid={$id}'"><img src="{media $reply['voteadimg']}"  class="adimg" width="100%"  /><p class="adtext">{$reply['voteadtext']}</p></div>
   {/if}
   <div class="votets ">投票成功，今天您还可以投5票。:-D</div>
<div class="weui-mask" onclick="hidemod('succeed');"></div>
</div>

{if !empty($reply['verifycode'])}


<style type="text/css">
	
#verifybox{opacity: 1;display:none}
#verifybox .weui-dialog__bd{padding: 1.2em 1.7em;}
#imgverify{width:100%;height: 45px;border: 1px solid rgba(0,0,0,.2); border-radius: 4px;}
#verifybox input{margin-bottom: 0;text-align: center;color: rgba(45, 137, 210, 0.79);}
#verifybox input::-webkit-input-placeholder{}
</style>

<div id="verifybox">
        <div class="weui-mask"></div>
        <div class="weui-dialog">
       <div class="weui-dialog__bd">
     
	  <a href="javascript:;" id="toggle" class="input-group-btn imgverify"><img id="imgverify" src="{MODULE_URL}/template/static/images/codeloading.gif"  title="点击图片更换验证码" /></a>
	  <br/>
	  <input name="verify" type="number" class="form-control" oninput="if(value.length>4)value=value.slice(0,4)" placeholder="请输入验证码">
            </div>
            <div class="weui-dialog__ft">
                <a id="mytoupiao" href="javascript:;" class="weui-dialog__btn weui-dialog__btn_primary">确认投票</a>
            </div>
        </div>
</div> 
<script>

function showverify(){
	$("#verifybox").show();
	$("input[name='verify']").val('');
	$("input[name='verify']").focus();
	$('#imgverify').prop('src', "{php echo $this->createMobileUrl('code')}&r="+Math.round(new Date().getTime()));
	return false;
}


$('#toggle').click(function() {
	$('#imgverify').prop('src', "{php echo $this->createMobileUrl('code')}&r="+Math.round(new Date().getTime()));
	return false;
});
</script>
{/if}

{if $reply['isredpack']==1}
	<!-- 加入弹出框开始 -->
    <div class="prompt early" id="redpack" style="display:none">
    <div class="redpackbox" >
	  <span class="close"  onclick="hidemod('redpack');$('#lottery').show();" >关闭</span>
      <div class=" clearfix">
          <h2 class="redtishi">恭喜获得抽奖机会！</h2>
      </div>
      <div class="redpackimg">
        <p>
			<img src="{MODULE_URL}/template/static/images/redpack1.png">
        </p>
      </div>
	  <div class="redtirp">每次参加获得一次抽奖机会，点击下面按钮打开红包吧！</div>
      <div class="choujiang" ><a  href="javascript:;" id="lottery" voteid-data="0">抽奖</a></div>
	  
    </div>
	<div class="weui-mask"></div>
	</div> 
    <!-- 加入弹出框结束 -->
{/if}	 
<script>
 
$(document).ready(function(){
var latitude=0;
var longitude=0;
{if (!empty($reply['area']) && empty($reply['locationtype'])) || $reply['redpackarea']!=""}

	wx.ready(function (){
		wx.getLocation({
		type: 'gcj02', // 默认为wgs84的gps坐标，如果要返回直接给openLocation用的火星坐标，可传入'gcj02'
			success: function (res) {
				latitude = res.latitude; // 纬度，浮点数，范围为90 ~ -90
				longitude = res.longitude; // 经度，浮点数，范围为180 ~ -180。
				var speed = res.speed; // 速度，以米/每秒计
				var accuracy = res.accuracy; // 位置精度
				hidemod("loadingToast");
			},
			cancel: function (res) {
					hidemod("join");
					dialog2('拒绝授权获取地理位置，无法参加活动！请刷新后，同意再继续！');
					hidemod("loadingToast");
			},
		});   
	}); 
{/if}
    $("#mytoupiao").click(function(){
    
    var  verify=0;
    {if !empty($reply['verifycode'])}
	    var verify=$("input[name='verify']").val();
	    hidemod("verifybox");
    {/if}
	{if !empty($reply['area']) && empty($reply['locationtype'])}
	   if(latitude==0 || longitude==0){
	      loadingToast("获取位置...");return false;
	   }
	{/if}
	loadingToast("投票中");
   	$.ajax({
		type: "POST",
		url: "{php echo $this->createMobileUrl('vote', array('rid' => $reply['rid'],'id' => $voteuser['id']))}",
		data: {latitude:latitude,longitude:longitude,verify:verify},
	    dataType: "json",
	    success: function(str) {
		    hidemod("loadingToast");
			if(str!=null && str!=''){
				if(str.status == 1){
				    $(".votenum").html(Number($(".votenum").html())+1);
				    $(".votets").html(str.msg);
					{if $reply['isredpack']=='1'}
					  if(str.voteid){
						$("#lottery").attr('voteid-data',str.voteid); 
						$("#redpack").show();
					  }else{
						$("#succeed").show();
					  }
					{else if $reply['voteadimg']!=""}
					   //window.setTimeout("$('#redpack').show();",500);
					   $("#succeed").show();
					{else}
					   toast("投票成功");
					{/if}

					
					{if $reply['diamondmodel']==0}	

						window.location.href = "{php echo $this->createMobileUrl('vote_success', array('rid' => $rid,'id' => $voteuser['id']))}";
						
					{/if}					
					
				}else if(str.status == 0){
					dialog2(str.msg);
				}else if(str.status == 500){
					$("#follow").show();
				}else{
				    dialog2(str.msg);
				}
			}
	    },
	    error: function(err) {
		    hidemod("loadingToast");
	    	dialog2("发生错误，请刷新后重试！");
	    }
	});
	});




{if $reply['isredpack']==1}
		$("#lottery").click(function(){
		$(this).hide();
		lottery("{MODULE_URL}/template/static/images/redpack3.png","红包在路上！","红包来的路上，请耐心等待...");
		$(".redpackimg img").addClass('rolls');
		var voteid=$(this).attr('voteid-data'); 
		$.ajax({
			type: "POST",
			url: "{php echo $this->createMobileUrl('lotteryredpack', array('rid' => $reply['rid']))}",
			dataType: "json",
			data: {latitude:latitude,longitude:longitude,voteid:voteid},
			success: function(str) {
				if(str!=null && str!=''){
				    $(".redpackimg img").removeClass('rolls');
					if(str.status == 1){
						lottery("{MODULE_URL}/template/static/images/redpack5.png",str.msg,"请关注公众号或服务信息，领取现金红包！");
					}else if(str.status == 0){
						lottery("{MODULE_URL}/template/static/images/redpack2.png","哎哟，就差一点点","继续积累运气，等待下一次大奖的到来！");
					}
				}
			},
			error: function(err) {
				hidemod("loadingToast");
				dialog2("发生错误，请刷新后重试！");
			}
		});
	});
function lottery(img,t1,t2){
	$(".redpackimg img").attr('src',img); 
	$(".redtishi").html(t1);
	$(".redtirp").html(t2);
}
{/if}

	 $("#previewImage img").click(function(){
        var imgArray = [];
        var curImageSrc = $(this).attr('src');
        var oParent = $(this).parent();
        if (curImageSrc && !oParent.attr('href')) {
            $('#previewImage img').each(function(index, el) {
                var itemSrc = $(this).attr('src');
                imgArray.push(itemSrc);
            });
            wx.previewImage({
                current: curImageSrc,
                urls: imgArray
            });
        }
    });

});


{if $reply['diamondmodel']!=1  && ($reply['isshowgift']=="" || $reply['isshowgift']==0 || $reply['isshowgift']==2|| $reply['isshowgift']==4)}
var limit = 1;
function get_list(){	
	$("#list_more").html('<div class="am-text-secondary"><span class="am-icon-spinner am-icon-spin"></span> 卖命加载中...</div>');
	$.ajax({
	    type : "post",
	    url : "{php echo $this->createMobileUrl('view',array('rid'=>$rid,'id'=>$id))}",
	    data : {
	    	limit:limit,
	    },
        dataType : "json",		
	    success : function(data) {
	    	if(data.status==200){
						var list = data.content;
						var content = '';
						$(".zuanlist ul").append(list);
						for(var i=0; i<list.length; i++){
							  content = '<li><img src="'+list[i]['avatar']+'"><p>'+list[i]['cont']+'<br/><span>'+list[i]['jy']+'</span><br/><span>'+list[i]['createtime']+'</span></p></li>';
							$(".zuanlist ul").append(content);
						}
						if(list.length==10){
							$("#list_more").html('<span class="am-text-secondary" onclick="get_list();">查看更多</span>');
						}else{
							$("#list_more").html('<span></span>');
						}
						limit++;		
		    }else if(data.status==-103){
	    		$("#list_more").html('<span>没有更多记录！</span>');
	    	}else{
			    $("#list_more").html('<span>没有更多记录！</span>');
			}    	
	    },
	    error : function(xhr, type) {

	    }
	});
}
get_list();

{/if}

function GetRandomNum(Min,Max)
{   
var Range = Max - Min;   
var Rand = Math.random();   
return(Min + Math.round(Rand * Range));   
}  
</script>
{template 'nav_footer'}
{template 'footer'}